.productList{
  position: relative;
  top: 15px;
  left: 300px;
  flex-basis: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1px;
  width: 66.6%;
  float: center;
}

.product{
  display: block;
  flex-wrap: wrap;
  align-content: center;
  padding: 30px;
}

.sticker {
    position: relative;
    width: 11.067vw;
    height: 11.067vw;
    border-radius: 0.9765625vw;
    text-align: center;

}

.stickername {
    position: relative;
    border-radius: 0.9765625vw;
    text-align: center;
}

.stickerprice {
    position: relative;
    border-radius: 0.9765625vw;
    text-align: center;

}

.cartList{
  position: absolute;
  top: 500px;
  left: 30px;
  display: inline;
}

.cartListItem{
    padding-bottom: 150px;
    padding-top: 20px;
    position: relative;
}

.cartitem {
    width: 134px;
    height: 129px;
    left: 74px;
    position: absolute;
}

.cartname {
    width: 79px;
    height: 29px;
    left: 225px;
    top: 60px;


    font-family: Prodsans;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;

    color: #000000;
    position: absolute;
}

.cartdesc {
    width: 212px;
    height: 19px;
    left: 231px;
    top: 100px;


    font-family: Prodsans;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
    position: absolute;
}

.cartTotalOutput{
  position: relative;
  padding: 50px;
}
.cartprice {
    width: 180px;
    height: 45px;
    left: 731px;
    top: 60px;

    font-family: Prodsans;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    position: absolute;
}

.carttrash {
    left: 1000px;
    top: 60px;
    width: 4vw;
    position: absolute;
}

.cartsubtotal {
        position: relative;
width: 145px;
height: 51px;
left: 74px;


font-family: Prodsans;
font-style: normal;
font-weight: 400;
font-size: 29.75px;
line-height: 36px;
}

.cartsubtotalvalue {
        position: relative;
width: 221px;
height: 51px;
left: 223px;


font-family: Prodsans;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;
text-decoration-line: underline;

color: #000000;
}

.backtoshoppingb{
    position: relative;
width: 297px;
height: 62px;
left: 225px;

border: 1px solid #EA9924;
box-sizing: border-box;
border-radius: 15px;


font-family: Prodsans;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
text-indent: 30px;

color: #000000;

}
.backtoshoppingicon{
    width: 34px;
    top: 14px;
    left: 27px;
    position: absolute;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.checkoutb{
    position: relative;
width: 297px;
height: 62px;
left: 556px;
border: none;
outline: none;
background: #EA9924;
border-radius: 15px;
font-family: Prodsans;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #FFFFFF;
}


.oclDiv {
  width: 33.3%;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px;
}
